.xmas_tree_text {
  display: inline;
  vertical-align: top;
  color: white;
  font-size: 15px;
  font-family: Arial;
}

#xmas_tree {
  position: relative;
  margin: auto;
  margin-top: 20px;
  background-color: black;
  height: 178px;
  width: 70px;
  border: 5px solid gray;
}

#prestage_lights_frame {
  position: absolute;
  text-align: center;
  height: 36px;
  width: inherit;
  left: -1px;
  bottom: 141px;
  border: 1px solid gray;
}

#prestage_lights1 {
  position: absolute;
  display: inline-block;
  height: 10px;
  width: 10px;
  left: 11px;
  bottom: 4px;
  border-radius: 10px;
  background-color: yellow;
}

#prestage_lights2 {
  position: absolute;
  display: inline-block;
  height: 10px;
  width: 10px;
  left: 22px;
  bottom: 4px;
  border-radius: 10px;
  background-color: yellow;
}

#prestage_lights3 {
  position: absolute;
  display: inline-block;
  height: 10px;
  width: 10px;
  right: 22px;
  bottom: 4px;
  border-radius: 10px;
  background-color: yellow;
}

#prestage_lights4 {
  position: absolute;
  display: inline-block;
  height: 10px;
  width: 10px;
  right: 11px;
  bottom: 4px;
  border-radius: 10px;
  background-color: yellow;
}

#stage_lights_frame {
  position: absolute;
  text-align: center;
  height: 36px;
  width: inherit;
  left: -1px;
  bottom: 104px;
  border: 1px solid gray;
}

#stage_lights1 {
  position: absolute;
  display: inline-block;
  height: 10px;
  width: 10px;
  left: 11px;
  bottom: 4px;
  border-radius: 10px;
  background-color: yellow;
}

#stage_lights2 {
  position: absolute;
  display: inline-block;
  height: 10px;
  width: 10px;
  left: 22px;
  bottom: 4px;
  border-radius: 10px;
  background-color: yellow;
}

#stage_lights3 {
  position: absolute;
  display: inline-block;
  height: 10px;
  width: 10px;
  right: 22px;
  bottom: 4px;
  border-radius: 10px;
  background-color: yellow;
}

#stage_lights4 {
  position: absolute;
  display: inline-block;
  height: 10px;
  width: 10px;
  right: 11px;
  bottom: 4px;
  border-radius: 10px;
  background-color: yellow;
}

#set_lights1_frame {
  position: absolute;
  height: 20px;
  width: inherit;
  left: -1px;
  bottom: 83px;
  border: 1px solid gray;
}

#set_lights1a {
  position: absolute;
  display: inline-block;
  height: 15px;
  width: 15px;
  left: 18px;
  bottom: 3px;
  border-radius: 12px;
  background-color: green;
}

#set_lights1b {
  position: absolute;
  display: inline-block;
  height: 15px;
  width: 15px;
  right: 18px;
  bottom: 3px;
  border-radius: 12px;
  background-color: green;
}

#set_lights2_frame {
  position: absolute;
  height: 20px;
  width: inherit;
  left: -1px;
  bottom: 62px;
  border: 1px solid gray;
}

#set_lights2a {
  position: absolute;
  display: inline-block;
  height: 15px;
  width: 15px;
  left: 18px;
  bottom: 3px;
  border-radius: 12px;
  background-color: green;
}

#set_lights2b {
  position: absolute;
  display: inline-block;
  height: 15px;
  width: 15px;
  right: 18px;
  bottom: 3px;
  border-radius: 12px;
  background-color: green;
}

#set_lights3_frame {
  position: absolute;
  height: 20px;
  width: inherit;
  left: -1px;
  bottom: 41px;
  border: 1px solid gray;
}

#set_lights3a {
  position: absolute;
  display: inline-block;
  height: 15px;
  width: 15px;
  left: 18px;
  bottom: 3px;
  border-radius: 12px;
  background-color: green;
}

#set_lights3b {
  position: absolute;
  display: inline-block;
  height: 15px;
  width: 15px;
  right: 18px;
  bottom: 3px;
  border-radius: 12px;
  background-color: green;
}

#go_lights_frame {
  position: absolute;
  height: 20px;
  width: inherit;
  left: -1px;
  bottom: 20px;
  border: 1px solid gray;
}

#go_lights1 {
  position: absolute;
  display: inline-block;
  height: 15px;
  width: 15px;
  left: 18px;
  bottom: 3px;
  border-radius: 12px;
  background-color: green;
}

#go_lights2 {
  position: absolute;
  display: inline-block;
  height: 15px;
  width: 15px;
  right: 18px;
  bottom: 3px;
  border-radius: 12px;
  background-color: green;
}

#stop_lights_frame {
  position: absolute;
  height: 20px;
  width: inherit;
  left: -1px;
  bottom: -1px;
  border: 1px solid gray;
}

#stop_lights1 {
  position: absolute;
  display: inline-block;
  height: 15px;
  width: 15px;
  left: 18px;
  bottom: 3px;
  border-radius: 12px;
  background-color: red;
}

#stop_lights2 {
  position: absolute;
  display: inline-block;
  height: 15px;
  width: 15px;
  right: 18px;
  bottom: 3px;
  border-radius: 12px;
  background-color: red;
}

#box {
  position: absolute;
  z-index: 2;
  top: 35px;
  left: 10px;
  height: 30px;
  width: 30px;
  background-color: red;
}

#racetrack {
  position: relative;
  margin: auto;
  margin-top: 20px;
  width: 900px;
  height: 100px;
  background-color: gray;
  border: 1px solid black;
}

#prestage {
  z-index: 1;
  position: absolute;
  left: 50px;
  display: inline-block;
  width: 10px;
  height: 100px;
  background-color: yellow;
}

#stage {
  z-index: 1;
  position: absolute;
  left: 100px;
  display: inline-block;
  width: 10px;
  height: 100px;
  background-color: yellow;
}

#finish {
  z-index: 1;
  position: absolute;
  right: 60px;
  display: inline-block;
  width: 10px;
  height: 100px;
  background-color: white;
}